extends layout

block content
  h1= title
  -
    let results = [
      {
        name: 'Oil Paints',
        brand: 'Winsor & Newton',
        price: '30$'      
      },
      {
        name: 'Watercolor Paper',
        brand: 'Arches',
        price: '20$'
      },
      {
        name: 'Colored Pencils',
        brand: 'Prismacolor',
        price: '40$'
      }
    ];

  div.container-fluid
    div.row
      each item in results
        div.col-sm-2
          p #{item.name}
          p #{item.brand}
          p #{item.price}
